* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: #fff;
    color: rgb(93, 60, 242);
    font-weight: 800;
    font-size: medium;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.container {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notification {
    background-color: #fff;
    color: rgb(122, 107, 189);
    font-weight: 400;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    margin: 1rem;
}