* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #222;
    padding-bottom: 3.5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #222;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 12px;
}
nav a:hover {
    color: #94C973;
}

.cover {
    background: url(./img/bg1.jpg);
    background-size: cover;
    height: 100vh;
    margin-bottom: 1rem;
}

.content h2 {
    font-size: 2rem;
    padding: 2rem 0;
}