* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

p {
    font-size: 1.6rem;
    line-height: 2rem;
}

img {
    width: 100%;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

header {
    width: 100%;
    background: #3d3d3d;
    position: fixed;
    top: 0;
    left: 0;
}

nav {
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
    color: #fff;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list li {
    list-style: none;
    margin: 0 2rem;
}

li a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

section {
    padding: 2rem 0;
}

.box {
    border: 1px #dedede solid;
    padding: 2rem;
}

h2 {
    font-size: 3rem;
}

.header {
    width: 100%;
    height: 55vh;
    background-size: cover;
    background: url(https://images.pexels.com/photos/2183773/pexels-photo-2183773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)center no-repeat;
}

.top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 2rem;
    padding: 1rem;
    background: transparent;
    border-radius: 5px;
    border: 2px solid #bf9ebc;
    cursor: pointer;
    outline: none;
    z-index: 111;
    opacity: 0;
    transform: translateY(10rem);
}

.showBtn {
    opacity: 1;
    transform: translateY(0rem);
}